@font-face {
	font-family: "Raleway";
	src: url("../fonts/R");
	font-weight: 400;
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/RalewayBold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/RalewayExtraBold.ttf");
	font-weight: 800;
}

body{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
}
.container{
	margin: 0 auto;
	max-width: 1170px;
}



.header{
	min-width: 100%;
	background-color:  #abeafa

}
.header-top, .header-bot{
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
}


.header .logo{
	width: 125px;
	height: 111px;
	margin: 24px 0 0 69px ;
}
.header .header-social{
	width: 130px;
	height: 20px;
	background-color: #000;
	margin-right: 64px;
	margin-top: 50px;
}
.welcome{
	background-color:  #fff51f;
	width: 270px;
	height: 300px;
	margin-top: 201px;
	margin-bottom: 64px;
	font-family: Raleway;
	color:  #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: left
}
.jp{
	background-color: #ffe16c;
	width: 315px;
	height: 280px;
	margin-top: 108px;
	margin-right: 105px;
}