@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-ExtraBold.ttf");
	font-weight: 800;
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-BoldItalic.ttf");
	font-weight: 800;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf");
	font-weight: 900;
}
body{
	margin: 0;
	padding: 0;
	/*background: url("../image/wave.jpg") top no-repeat;*/

	display: flex;
	flex-direction: column;
}
.container{
	margin: 0 auto;
	max-width: 1170px;
}
a{
	list-style: none;
	text-decoration: none;
}
li{
	list-style: none;
}



.header{
	min-width: 100%;
	/*background: transparent;*/
	background-color:  #abeafa;

}
.header-top, .header-bot{
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
}


.header .logo{
	width: 125px;
	height: 111px;
	margin: 24px 0 0 69px ;
}
.header .header-social{
	display: flex;
	width: 130px;
	height: 20px;
	margin-right: 64px;
	margin-top: 50px;
	font-size:16px;
	letter-spacing: 16px;
}
.header .header-social a{
	color: white;
}
.welcome {
	background-color: #fff51f;
	width: 270px;
	height: 300px;
	margin-top: 201px;
	margin-bottom: 64px;
	position: relative;

}
.welcome h3{
	margin: 0;
	width: 201px;
	font-family: "Raleway", sans-serif;;
	color:  #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
	position: absolute;
	left: 25px;
	top: 77px;


}
.welcome p{
	font-family: "Raleway", sans-serif;
	color:  #333333;
	font-size: 18px;
	font-weight: 700;
	line-height: 14px;
	text-align: left;
	font-style: italic;
	position: absolute;
	top: 140px;
	left: 22px;
}

.jp{
	width: 315px;
	height: 280px;
	margin-top: 108px;
	margin-right: 105px;
	box-sizing: border-box;
	position: relative;
}
.jp h2{
	font-family: "Raleway", sans-serif;;
	color:  #fff51f;
	font-size: 48px;
	font-weight: 700;
	line-height: 34px;
	text-align: left;
	margin: 0;
	text-transform: uppercase;
}
.jp p{
	font-family: "Raleway", sans-serif;
	color:  #fff51f;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	position: absolute;
	top: 57px;
}
.buy-now{
	background-color:  #fff51f;
	width: 124px;
	height: 49px;
	font-family: sans-serif;
	font-weight: 800;
	color:  #000000;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.wrap-menu-now{
	width: 270px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-top: -20px;
}
.title{
	background-color:  #333333;
	width: 270px;
	height: 66px;
}

.wrap-menu-now a{
	display: flex;
	background-color:  #26d2fc;
	width: 270px;
	font-family: Roboto, sans-serif;
	color:  #000000;
	font-size: 14px;
	font-weight: 900;
	line-height: 36px;
	text-align: left;
	text-transform: uppercase;
	align-items: center;
	padding-left: 40px;
	box-sizing: border-box;
}
.wrap-menu-now a:hover{
	background-color:  #333333;
	color:  #ffffff;
}
.title{
	display: flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 900;
	line-height: 36px;
	text-align: left;
	text-transform: uppercase;
	padding-left: 40px;
	box-sizing: border-box;
}



